{% extends 'hospital/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <br><br>
  <h1 class="display-4" style="text-align:center;">Hello, Patient</h1>
  <p class="lead">Welcome to Smart Hospital.</p>
  <hr class="my-4">
  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn  btn-lg"  style="background-color: #028383; color:azure" href="/patientsignup" role="button">Add patient</a>
    <a class="btn  btn-lg"  style="background-color: #028383; color:azure" href="/patientlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
